<mat-nav-list>
  <mat-list-item role="listitem">
    <mat-icon aria-hidden="false">calendar_today</mat-icon>
    <span class="list-text">Plans</span>
  </mat-list-item>
  <mat-list-item role="listitem">
    <mat-icon aria-hidden="false">menu_book</mat-icon>
    <span class="list-text">Dish library</span>
  </mat-list-item>
  <mat-list-item role="listitem">
    <mat-icon aria-hidden="false">shopping_basket</mat-icon>
    <span class="list-text">Shopping list</span>
  </mat-list-item>
  <mat-list-item role="listitem">
    <mat-icon aria-hidden="false">bar_chart</mat-icon>
    <span class="list-text">Statistics</span>
  </mat-list-item>
  <mat-list-item role="listitem">
    <mat-icon aria-hidden="false">bakery_dining</mat-icon>
    <span class="list-text">Products library</span>
  </mat-list-item>
</mat-nav-list>
