.example-card {
  max-width: 250px;
  max-height: 350px;
  padding: 0;
  margin: 15px;
}

:host {
  ::ng-deep {
    .mat-card-header-text {
      margin: 0;
    }

    .mat-card {
      max-height: 350px;
    }
  }
}

.recipe-image {
  max-width: 100%;
  max-height: 100%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
